@{
    ViewData["Title"] = "Inicio";
}

    <div class="container">

        <h1>
            Bienvenido a los eventos que inspiran,<br />
            unen y mueven a nuestra comunidad.
        </h1>

        <p class="mt-4 fs-5">
            En la alcaldía Tláhuac se realizan diferentes eventos sobre nuestros talleres,
            conócenos y únete a nosotros.
        </p>

    </div>

